*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 920px;
  height: 500px;
  top: 25vh;
  left: calc((100% - 920px) / 2);
}

.colum-group {
  display: flex;
  background: #e28625;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.col {
  /* display: flex;
    flex-direction: column; */
  position: relative;
  width: 307px;
  height: 100%;
}

.col img {
  position: absolute;
  left: 48px;
  top: 48px;
  width: 64px;
  height: 40px;
}

.col h3 {
  position: absolute;
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;

  color: #f2f2f2;
  width: 101px;
  height: 48px;
  left: 48px;
  top: 123px;
}

.col p {
  position: absolute;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  width: 212px;
  height: 125px;
  left: 47.5px;
  top: 196px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.75;
}

.col button {
  position: absolute;
  width: 146px;
  height: 48px;
  top: 404px;
  left: 48px;
  background: #f2f2f2;
  color: #004140;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.col button:hover {
    /* transition: all; */
    background: none;
    color: #f1f1f1;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

.col:nth-child(1) {
  background: #e28625;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.col:nth-child(2) {
  background: #006971;
  border-radius: 8px;
}

.col:nth-child(3) {
  background: #004140;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .container {
        /* display: flex; */
        flex-direction: column;
        position: absolute;
        width: 327px;
        height: 1326px;
        top: 88px;
        bottom: 88px;
        left: 24px;
    }

    .colum-group {
        display: flex;
        flex-direction: column;
        background: #e28625;
        position: relative;
        /* width: 100%;
        height: 100%; */
        overflow: hidden;
        border-radius: 8px;
      }

      .col {
        position: relative;
        width: 442px;
        height: 100%;
      }

      /* .col img {
        position: absolute;
        left: 48px;
        top: 48px;
        width: 64px;
        height: 40px;
      } */
      
      .col h3 {
        position: absolute;
        font-family: "Big Shoulders Display", cursive;
        font-size: 40px;
        font-weight: bold;
        line-height: 48px;
        text-transform: uppercase;
      
        color: #f2f2f2;
        width: 101px;
        height: 48px;
        left: 49px;
        top: 123px;
      }
      
      .col p {
        position: absolute;
        font-family: "Lexend Deca", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        width: 231px;
        height: 125px;
        left: 48.5px;
        top: 196px;
      
        color: #ffffff;
      
        mix-blend-mode: normal;
        opacity: 0.75;
      }
      
      .col button {
        position: absolute;
        width: 146px;
        height: 48px;
        top: 346px;
        left: 49px;
        background: #f2f2f2;
        color: #004140;
        border-radius: 25px;
        border: none;
        cursor: pointer;
      }
      
  /* .col button:nth-child(1) {
    background: #e28625;
    color: #f1f1f1;
    border-color: #f1f1f1;
  }

  .col button:nth-child(2) {
    background: #006971;
    color: #f1f1f1;
    border-color: #f1f1f1;
  }

  .col button:nth-child(3) {
    background: #004140;
    color: #f1f1f1;
    border-color: #f1f1f1;
  } */
}
